<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
  <section id="feed-post">
    <h4>Posts</h4>
    <% if(locals.user){ %>
    <form action="/posts/create-post" id="new-post-form" method="POST">
      <textarea name="content" cols="30" rows="5" placeholder="What's on your mind ?" required></textarea>
      <input type="submit" value="Post">
    </form>
    <% } %>
  
    <div id="post-list-container">
      <ul>
  
          <% for(post of posts){ %>
            <%- include('_post') -%>
        <% } %>
  
      </ul>
    </div>
  </section>
  

  <br>
 
  <div>
    <div id="My-Friends">
      <section>
        <!-- <%- JSON.stringify(all_friends) %> -->
        <h4>My Friends</h4>
        <% if (locals.user) { %>
          <% for (f of all_friends) { %>
            <p>
              <% if (locals.user.id !== f.to_user.id) { %>
                <%=f.to_user.name%>
                <form action="/friends/remove/<%=f.to_user.id%>" method="POST">
                  <input type="submit" value="X">
                </form>
              <% } %>
            </p>
          <% } %>
        <% } %>
        

        
       </section>
    </div>

    <div id="User-Session">
      <section>
        <h4>Users</h4>
        <% for(user of all_users){ %>
      
            <p>
              <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
            </p>
      
          <% } %>
      
      </section>
    </div>
  </div>
    
   

    
    

  </section>
  <br>
  <br>
 
  
  
</div>

<script src="/js/home_post.js"></script>
<script src="/js/toggle_likes.js"></script>

<script src="/js/toggle_friends.js"></script>

<script>
  $('.toggle-like-button').each(function(){
      let self = this;
      let toggleLike = new ToggleLike(self);
  });
</script>